body {
    font-family: sans-serif;
    display: grid;
    place-content: center;
    color: #ffffffa7;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        135deg,
        #f1b171 17%,   /* Naranja */
        #f5ef76 34%,   /* Amarillo */
        #a354dc 85%,   /* Índigo */
        #c76cee 100%   /* Violeta */
    );
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}

.menu-admin-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: black; /* Color del texto para que sea legible en el fondo claro */
}

.menu-table td {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    color: black; /* Color del texto */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Bordes ligeros */
}

.menu-table .btn {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    background: #ffffffa7; /* Fondo blanco inicialmente */
    color: black; /* Color del texto */
    border: 2px solid rgb(47, 45, 41); /* Color del borde */
    transition: background 0.5s, color 0.5s, transform 0.5s;
}

.menu-table .btn:hover,
.menu-table .btn:focus {
    background: linear-gradient(45deg, #ffa726, #ff438b); /* Gradiente animado */
    background-size: 200% 200%;
    color: white; /* Color del texto cuando se pasa el cursor */
    background-position: right center; /* Cambia la posición del gradiente */
    transform: scale(1.05);
    border:none;
    outline: none;
}

.menu-table .btn-secondary {
    background: #ffffffa7; /* Fondo blanco inicialmente */
    color: black; /* Color del texto */
    border: 2px solid #6c757d; /* Color del borde */
    transition: background 0.3s, color 0.3s;
}

.menu-table .btn-secondary:hover,
.menu-table .btn-secondary:focus {
    background: red; /* Color de fondo cuando se pasa el cursor */
    color: #ffffffa7; /* Color del texto cuando se pasa el cursor */
    transform: scale(1.05);
    outline: none;
}
